---
import BaseLayout from "../layout/BaseLayout.astro"
const allPosts = await Astro.glob('./posts/*.md');
const tags = [...new Set(allPosts.map(valor=> valor.frontmatter.tags).flat())]
---

<BaseLayout titulo="Blog">
	<h2>Sobre mi BLog</h2>
    <p>Aqui es donde publicare mis blogs, conforme pase el tiempo ire publicando muchos más</p>
    <ul>
        {allPosts.map(blog => 
            <li><a href={blog.url}>{blog.frontmatter.title}</a></li>
        )}
    </ul>
</BaseLayout>